<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        <link rel="stylesheet" href="/css/uptown.css"/>

        {% block stylesheets %}{% endblock %}

        {% block javascripts %}{% endblock %}

        <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
        <script type="text/javascript" src="/js/index.js"></script>
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
